<div class="page-header"></div>
<div class="card bg-light m-3">
    <div class="card-body">
    <h5>欢迎参加本次实验。在以下实验中，您将做出一系列选择。在实验结束时，系统会根据您在实验中做出的选择以及其他人做出的选择给您一定的支付。请保持安静，并仔细阅读说明。</h5>
    <h5>除了5元的出场费外，在实验过程中，您还将有机会获得“积分”。这些积分将在实验交易结束时转换为现金。</h5>
    <h4 style="text-align: center;color: red">转换率：20个积分= 1元</h4>
    <h5><strong>在实验中，所有参与者将被随机分组，每一组内会分到5名参与者。每组内的5名参与者在整个实验阶段保持不变。实验参与者的互动完全通过电脑实现。您的真实身份不会为其他人所知。实验共重复20轮。</strong></h5>
    <h5><strong>每组当中有一人被随机选为角色A，其余四人则是角色B，而且角色会维持不变。角色B的四个成员每一轮次都会得到一个1-4的数字作为ID，但每轮都会重新分配一次。</strong></h5>
    <br>
    <h5>每一轮实验包括3个步骤：</h5>
    <h5 style="text-align: center">第一阶段</h5>
    <p>每位角色B参与者都会得到20个积分。角色B的四个成员选择要么把20个积分都留在私人账户，或者将所有积分都存入本组的公共账户。存入公共账户的积分将会翻倍，每一轮结束后，公共账户内的积分将被平均分给你们5位（包括角色A）。</p>
    <pre style="font-size: 16px;line-height: 35px;font-weight: 700">
    也就是说角色B成员在第一阶段的收入包括两部分：
    本人留在私人账户的积分+公共账户总积分*2/5。
    虽然角色A在第一阶段并不做决策，但是也会得到收入：
    <strong>公共账户总积分*2/5</strong>
    下面是几个例子：
    1. 角色B的四个成员都选择将自己的20积分留在私人账户。
       那么第一阶段角色B的四个成员各自得到20积分；角色A得到0积分；
    2. 角色B的四个成员都选择将自己的20积分存入公共账户。
       那么第一阶段角色B的四个成员各自得到0+80*0.4=<strong>32积分</strong>；角色A得到32积分。
    3. 两名角色B成员选择将自己的20积分留在私人账户，
       另两名角色B成员都选择将自己的20积分存入公共账户。
       那么前两名角色B成员在第一阶段各自得到20+40*0.4=36积分；
       后两名角色B成员在第一阶段各自得到0+40*0.4=16积分；角色A得到<strong>40*0.4=16积分</strong>
    </pre>
    <h5 style="text-align: center">第二阶段</h5>
     <p>所有成员都收到了第一阶段的信息：角色B的四个成员将20积分存入了私人账户还是公共账户，以及第一阶段的收入。</p>
     <p>角色A参与者观察到角色B四个成员各自是否将20个积分存入公共账户后决定是否选择其中一位作为针对性的目标，尝试减少该目标成员30积分。如果角色A不愿选择任何一位，则本轮实验到此结束。如果角色A选择了一位参与者，那么无论是否成功减少目标成员的30积分角色A都将付出<strong>2个积分的代价</strong>，而是否能成功减少目标成员的积分将在一定程度上取决于本轮实验的第三阶段角色B成员的选择。<strong>如果可以成功减少目标成员30积分，那么角色A参与者会再得到30积分。</strong></p>
    <h5 style="text-align: center">第三阶段</h5>
    <p><strong>未被针对的3位角色B成员观察到所有角色B成员的决策，并且知道角色A是否选择针对某成员以及该成员的ID（如果有人被针对）。</strong>若有角色B成员被针对，则其他未被针对的3位成员需要选择支持、反对角色A的决策<strong>（需要付出一个1个积分）</strong>，或者什么也不做（不需要付出积分）。如果所有3个角色B成员什么都不做，则被针对的成员有1/2的概率被扣除30个积分。如果多一个成员选择支持角色A，那么被针对的成员被扣除30积分的概率会增加1/6；相反如果多一个成员选择反对角色A，那么被针对的成员被扣除30积分的概率会减少1/6。</p>
    <pre style="font-size: 16px;line-height: 35px;font-weight: 700">
    例如：
    1. 如果3个角色B成员一致支持角色A，那么被针对的成员肯定会被扣除30积分。
    2. 如果3个角色B成员一致反对角色A，那么被针对的成员肯定不会被扣除30积分。
    3. 如果1个角色B成员支持角色A，2个角色B成员反对角色A，那么被针对的成员被扣除30积分的概率为1/3.
    4. 如果1个角色B成员支持角色A，2个角色B成员选择什么都不做，那么被针对的成员被扣除30积分的概率为2/3

    然后系统会根据概率抽签决定是否对被针对的成员扣除30积分。
    最终，所有成员观察到如下信息：是否有人被针对、有多少成员选择支持或反对角色A、
    最终被针对的成员是否被扣除了30积分以及所有成员本轮最终的积分。
    </pre>
    </div>
</div>