p{
    text-indent: 2em;
    line-height: 30px;
}
h5{
    text-indent: 2em;
    line-height: 40px;
}
pre{
    line-height: 30px;
}
span{
    font-size: xx-large;
    color: red;
    position: absolute;
    top: 0;
    right: 10px;
    font-family: 华文楷体;
}
.pic{
    display: inline-flex;
}
.pic.other{
    float: left;
}
.pic.power{
    float: right;
}
.pic img{
    width: 100px;
}