{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    请做出决策
{% endblock %}

{% block content %}
    <div class="card bg-light m-3">
        <div class="card-body">
        <h4>现在是<strong>20</strong> 轮中的第 <strong>{{ player.round_number }}</strong> 轮</h4>
        <hr>
        <h4>您被选为角色B,且您的ID为{{ player.id_in_round }}</h4>
        {% if group.A_continue != player.id_in_round %}
            <br>
            <h5>当前有角色B成员被针对，他/她的ID为{{ group.A_continue }}，您需要选择支持、反对角色A的决策（需要付出一个1个积分），或者什么也不做（不需要付出积分），请选择:</h5>
            <br>
            {% formfield player.B_vote %}
        {% else %}
            <br>
            <h5>您被角色A选为针对对象，您可能被扣除30积分。</h5>
        {% endif %}

        </div>
    </div>
    {% next_button %}
    {% include Constants.Rule_base %}
{% endblock %}
